body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(131, 224, 131);
    background-image: url(../homepagebg.jpg);
    margin: 0;
}

/* title section */
.title-container {
    background-color: rgb(109, 193, 109);
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin: 0;
}

.title {
    font-size: 30px;
    color: rgb(231, 203, 150);
}

/* Introduction section */
.description-container {
    padding: 25px;
    
}

.inner-container {
    background-color: rgb(109, 193, 109);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.description {
    color: antiquewhite;
    font-size: 20px;
}

/* Images section for the flowers section */

.flower-description-container {
    margin: 10px;
    text-align: center;
}

.flower-description {
    color: rgb(231, 203, 150);
    font-size: 30px;
}

.flower-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flower-inner-container {
    display: flex;
    background-color: rgb(109, 193, 109);
    border-radius: 20px;
    padding: 5px;
    position: relative;
    margin: 10px; 
}

.flower1couroupita,
.flower1couroupita-tree,
.orchid {
    height: 300px;
    width: 280px;
    object-fit: cover;
    border: rgb(231, 203, 150) 5px solid;
    border-radius: 5px;
    margin: 20px;
}

/* image hover overlay for the flower section */
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(109, 193, 109);
  }

.flower-inner-container:hover .overlay {
    opacity: 0.75;
  }

.text {
    color: rgb(231, 203, 150) 5px solid;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* Images section for the tree section*/

.tree-description-container {
    margin: 10px;
    text-align: center;
}

.tree-description {
    color: rgb(231, 203, 150);
    font-size: 30px;
}

.tree-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tree-inner-container {
    display: flex;
    background-color: rgb(109, 193, 109);
    border-radius: 20px;
    padding: 5px;
    position: relative;
    margin: 10px; 
}

.herb-garden,
.tree5,
.tree6 {
    height: 300px;
    width: 280px;
    object-fit: cover;
    border: rgb(231, 203, 150) 5px solid;
    border-radius: 5px;
    margin: 20px;
}

/* image hover overlay for the tree section */
  
.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(109, 193, 109);
  }

.tree-inner-container:hover .overlay2 {
    opacity: 0.75;
  }

.text1 {
    color: rgb(231, 203, 150) 5px solid;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }